*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  margin: 0;
  padding: 0;
}

.gallery-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: 4rem auto;
  justify-content: center;
}

.gallery-container .gallery-item {
  width: 20rem;
  /* height: 12rem; */
  padding: 0.25rem;
  margin: 0.5rem;
  overflow: hidden;
}

.gallery-container .gallery-item img {
  max-width: 100%;
  min-height: 100%;
  border-radius: 8px;
  border: 1px solid #00000026;
  box-shadow: 2px 2px 10px rgb(0 0 0 / 30%);
  -o-object-fit: cover;
  object-fit: cover;
}

.switch-radios-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.switch-radios-container input,
.switch-radios-container label {
  margin-left: 2rem;
  cursor: pointer;
}

.switch-radios-container input:checked .news-container {
  display: block !important;
}

.switch-radios-container label {
  margin: 0 !important;
}

.news-container {
  display: none;
}

.eminents-container {
  display: none;
}

/* radio styles */

.switch-field {
  display: flex;
  margin-bottom: 36px;
  overflow: hidden;
}

.switch-field input {
  position: absolute !important;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  width: 1px;
  border: 0;
  overflow: hidden;
}

.switch-field label {
  background-color: #e4e4e4;
  color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
  line-height: 1;
  text-align: center;
  padding: 8px 16px;
  margin-right: -1px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
  transition: all 0.1s ease-in-out;
}

.switch-field label:hover {
  cursor: pointer;
}

.switch-field input:checked + label {
  background-color: #FAD12B;
  color: #fff;
  box-shadow: none;
}

.switch-field label:first-of-type {
  border-radius: 4px 0 0 4px;
}

.switch-field label:last-of-type {
  border-radius: 0 4px 4px 0;
}

/* radio styles end */


*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Muli", sans-serif;
}

.news-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: 4rem auto;
  justify-content: center;
}

.news-container .news-item {
  width: 20rem;
  height: 20rem;
  padding: 0.25rem;
  margin: 0.5rem;
  box-shadow: 2px 2px 10px rgb(0 0 0 / 40%);
  border-radius: 8px;
  box-shadow: 2px 2px 10px rgb(0 0 0 / 30%);
  overflow: hidden;
}

.news-container .news-item img {
  max-width: 100%;
  min-height: 100%;
  border: 1px solid #00000026;
}
